*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.background{
    height: 40vh;
    background-image: url(../pic/background-01.jpg);
    background-size: cover;

}

.h1-custom{
    margin-top: 125px;
}

.middle{
    height: 225vh;
    background-color: rgba(0, 0, 0, 0.08);
}

.end{
    height: 40vh;
}

.footer-custom{
    background-color: #333333;
    color: white;
}

.right, .left{
    height: 80vh;
    /* border: 5px solid black; */
}

#custom-div{
  display: inline-block;
}

.custom-cards{
    display: inline-block
}