.background{
    height: 40vh;
    background-image: url(../pic/background-01.jpg);
    background-size: cover;

}

.h1-custom{
    margin-top: 125px;
}

.middle{
    height: 340vh;
    background-color: rgba(0, 0, 0, 0.08);
}

.end{
    height: 40vh;
}

.footer-custom{
    background-color: #333333;
    color: white;
}

.right, .left{
    height: 80vh;

}
.photo{
    width: 860px;
    height: 430px;
    margin: 20px 0;

    padding-left: 200px;
}

.photo img{
    width: 100%;
    height: 100%;
}

ul, li{
    list-style-type: none;
}

.h4{
    margin-right: 60px;
}

.ul{
    display: inline-block;
}

.ul>li {
    padding: 3px;
}